/******************************************************** Header & Dashboard elements *********************************************/
.header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-style {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    background: linear-gradient(135deg, var(--primary), var(--accent));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(139, 92, 246, 0.3);
}

.welcome h2 {
    font-size: 1.3rem;
}

.welcome p {
    font-size: 0.8rem;
    color: var(--text-muted);
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}





/******** mood tracker *******/
.mood-section {
    padding: 0 25px;
    margin-bottom: 30px;
}

.mood-container {
    display: flex;
    justify-content: space-between;
    background: var(--card-bg);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}

.mood-item {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    border-radius: 15px;
}


.shortcuts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.shortcut-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

.icon-bg {
    width: 65px;
    height: 65px;
    background: var(--card-bg);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

}

.card-icon {
    font-size: 40px;
}

.shortcut-item span {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-muted)
}