/*********************************** Navigation ************************************/
.nav-bar {
    position: fixed;
    bottom: 25px;
    left: 20px;
    right: 20px;
    height: 75px;
    background: var(--card-bg);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-btn {
    text-decoration: none;
    font-size: 1.6rem;
    color: #94a3b8;
}

.center-btn {
    width: 55px;
    height: 55px;
    background: var(--primary);
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}